<p id="notice"><%= notice %></p>

<h1>Listing products</h1>
<th>UserID</th>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>UserID</th>
    <th>Image URL</th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>

    <!-- <div class="image">
      <#%= link_to (product.image_url), item %>
    </div> -->

    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
    <td><%= product.user_id %></td>
    <td><%= image_tag(product.image_url) unless product.image_url.nil? %></td>
    <% if current_user != nil and current_user.admin? %>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>

    <td><%= button_to 'Add to Cart', line_items_path(:product_id => product) %></td>
  </tr>
<% end %>
</table>
<% form_tag products_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search_query,
                         params[:search_query] %> <!--advanced search params here -->
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>


<br />

<%= link_to 'New Product', new_product_path %>

<!-- hide from non admin loops -->

<!--<#% if current_user.admin? %>
    # do something
<#% end %>

<#% if current_user.try(:admin?) %>
    # do something
<#% end %>

<#% if current_user != nil and current_user.admin? %>

    # do something
<#% end %> -->
