<p id="notice"> <%= notice %> </p>


<h6>Your Cart</h6>


<%= render(@cart.line_items) %>

<% for item in @cart.line_items %>
    <li><%= item.quantity %> &times; <%=
        item.product.name %></li>
<% end %>


<br/>
Total Price: <%= number_to_currency(@cart.total_price, :unit => '&euro;') %><br/>
<%= button_to "Checkout", new_order_path, method: :get %>
<%= button_to 'Empty cart', @cart, :method => :delete, :confirm => 'Are you sure?' %>
<%= link_to 'Back', carts_path %> <%= link_to 'Edit', edit_cart_path(@cart) %> |
</ul>



<!-- -->

<!--<#%= render(@cart.line_items) %>



















