<p id="notice"> <%= notice %> </p>

<h3>Your Cart</h3>
<%= render(@cart.line_items) %>

Total Price: <%= number_to_currency(@cart.total_price, :unit => '€') %>
<%= button_to "Checkout", new_order_path, method: :get %>   <!-- added new checkout button -->
<%= button_to 'Empty cart', @cart, :method => :delete, :confirm => 'Are you sure?' %>
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>

<!-- <#%= render(@cart.line_items) %> -->







