<!DOCTYPE html>
<html>
<head>
  <title>Fallon & Byrne Online Market</title>


  <!-- Changed Title -->

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <link rel="stylesheet" type="text/css" src=\public\stylesheets\bootstrap.css>
</head>
<!-- Boot Strap CSS -->







<body>

<%= image_tag "winecellar.jpg",  %>
<h1>Fallon and Byrne Store</h1>


<div class="body">


<div class="body lead">

| <%= link_to "Product Catalogue", products_path %> |
<%= link_to "Leave Site", :controller => "welcome",
            :action => "thank_you" %> |
<%= link_to "Register", :controller => "welcome", :action => "register" %> |
<%= link_to "Home", :controller => "welcome", :action =>
        "home" %> |
<%= link_to "Your Cart", :controller => "carts",
            :action => "your_cart" %> |

  <%= link_to "Suppliers",suppliers_path %> |

<div id='header'>
  <% if logged_in? %>
      <%= current_user.email %> |
      <%= link_to 'Logout', logout_path %> |
      <%= link_to "Create User", new_user_path %> |
  <% else %>
      <%= link_to "Login", login_path %> |
  <% end %>
</div>

<%= link_to "Create User", new_user_path %> |
<%= link_to "Login", login_path %>
<%= link_to "Logout", logout_path %>

  </div>

<!-- ******************************************** Render Cart to Side  -->
<!--<div id="columns">
  <div id="side">
    <div id="cart">
      <#%= render @cart %>
    </div>  -->

    <!-- Yield Set in Div -->

    <div class="container">
      <%= yield %>
    </div>

</div>
</body>
</html>





<!--<div id="columns">-->
  <!--<div id="side">-->
    <!--<#% if @cart %>-->
    <!-- <#%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>  -->
            <!--<#%= render @cart %>-->
        <!--<#% end %>-->
    <!--<#% end %>-->
    <!--<ul>-->
      <!--<li><a href="http://www....">Home</a></li>-->
      <!--<li><a href="http://www..../faq">Questions</a></li>-->
      <!--<li><a href="http://www..../news">News</a></li>-->
      <!--<li><a href="http://www..../contact">Contact</a></li>-->
    <!--</ul>-->

    <!--<#% if session[:user_id] %>-->
        <!--<ul>-->
    <!--<li><#%= link_to 'line_items', line_items_path %></li>-->
    <!--<li><#%= link_to 'Products', products_path %></li>-->
    <!--<li><#%= link_to 'Users', users_path %></li>-->

    <!--</ul>-->
        <!--<#%= button_to 'Logout', logout_path, method: :delete %>-->
         <!--<#% end %>-->
  <!--</div>-->
  <!--<div id="main">-->
    <!--<#%= yield %>-->
  <!--</div>-->
<!--</div>-->
