<h4>Latest</h4>



  <% @posts.each do |post| %>
      <tr>
        <td><h3><%= post.name %></h3></td>
        <td><h4><%= post.title %></h4></td>
        <td><%= post.content %></td>
        <% if current_user != nil and current_user.admin? %>
            <td><%= link_to 'Show', post %></td>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
            </tr>
        <% end %>
  <% end %>
</table>

<br/>
<% if current_user != nil and current_user.admin? %>
<%= link_to 'New Post', new_post_path %>
<% end %>