<h3>Fallon & Byrne Suppliers</h3>


<% @suppliers.each do |supplier| %>
  <ol class="unstyled">
    <li><%= supplier.name %></li>
    <li><%= supplier.description %></li>
  <li><%= image_tag(supplier.image_url) unless supplier.image_url.nil? %></li>
   <!-- <#% if current_user != nil and current_user.admin? %>  -->
    <li><%= link_to 'Show', supplier %></li>
    <li><%= link_to 'Edit', edit_supplier_path(supplier) %></li>
    <li><%= link_to 'Destroy', supplier, :confirm => 'Are you sure?', :method => :delete %></li>
   <!-- <#% end %> -->


<% end %>
</ol>

<% form_tag suppliers_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search_query, params[:search_query] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<br />

<%= link_to 'New Supplier', new_supplier_path %>

